
.map {      /* Affichage de la map */
    position: relative;
    height: 100vh; 
    width: 100%;   
    z-index: 1;
  }
  
  .container { /* Pour empêcher le défilement lorsque la marge négative est appliquée */
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
  }
  
  .text-box {     /* Zone de debug */
    position: absolute;
    bottom: 15px;
    left: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(34, 118, 243, 0.658);
    
    z-index: 999; 
  }
  
  .informations{   /* Taille du text pour la zone de debug */
    color: white!important;
    font-size: 18px; 
  }
  
  .warning{     /*Zone pour warning et good*/
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
  
    z-index: 999; /* Ajoutez cette ligne pour positionner la boîte au-dessus de la carte */
  }
  
  .good_img { /*image aucun impacte*/
    width: 111px;
    height: 100px;
  }
  .warning_img { /*image impacte*/
    width: 100px;
    height: 100px;
  }
  
  body.impacte::before {  /* Halo rouge en cas d'impacte */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 80px 40px rgba(255, 0, 0, 0.5);
    pointer-events: none;
    z-index: 200; 
  }
  
  .flecheVent {         /*Fleche pour la direction du vent*/
    top: 0;
    left: 45%;
    position: fixed;
    width: 125px;
    height: 125px;
    z-index: 200; 
  }
  
  .BoutonModal{
    position: fixed;
    bottom: 10px;
    right: 0;
    padding: 15px;
    z-index: 999;
  }
  .Gear-Button{
    width: 75px;
    height: 75px;
  }
  
  .Gear-Icon{
    width: 40px;
    height: 40px;
  }
  